@{
  Layout = "_Layout";
}

<div class="container">

@foreach(var count in Model)
{
  <h3>Result @count.GetId()</h3>
  <p>Specified Word: "@count.GetSpecifiedWord()"</p>
  <br>
  <p>Text: "@count.GetText()"</p>
  <br>
  <p>Analisys: "@count.GetSpecifiedWord()" was found @count.GetCountResult() times.</p>
}
</div>

<p><a href="/wordcounters/new">Try another word counting</a></p>
<p><a href="/wordcounters">See past word counts</a></p>
